<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: DodgerBlue;
  border-radius : 25px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>
</head>
<body>

<h2>Chatbot for websites</h2>

<p>Full wDescription:</p>
<p> this is a test project developed by desss team </p>
<a href="https://github.com/anandrajB?tab=repositories" target="_blank" class="btn btn-primary">Go </a>

</body>
</html>
